{% extends 'index.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dates.css') }}">

{% endblock %}

{% block children_page %}

<h2>Отображение по датам:</h2>
<div>
    <form method="post">
        <button type="submit" name="date" value="all_dates">По всем датам</button>
        <br/>

        {% for date in dates %}
            <button type="submit" name="date" value="{{ date }}">{{ date }}</button>
            <br/>
        {% endfor %}
    </form>
</div>

{% endblock %}