{% extends "index.html" %}


{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">

{% endblock %}

{% block children_page %}

<h2>Ввод: </h2>

<form action="{{ url_for('input') }}" method="post">
    <p>Дата: </p>
    <input class="input" type="date" name="date" required>
    <p>Комнат на этаже: </p>
    <input class="input" type="text" name="roomsCount" required>
    <p>Количество окон в каждой комнате: </p>
    <input class="input" type="text" name="windowsInRoom" required>
    <p>Свет в окнах: </p>
    <input class="input" type="text" name="windowsLight" required>
    <button id="confirm">Применить</button>
</form>

{% endblock %}